@font-face {
  font-family: "iconfont"; /* Project id 4736490 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_4736490_weqac76k7ae.woff2?t=1731078373956') format('woff2'),
       url('//at.alicdn.com/t/c/font_4736490_weqac76k7ae.woff?t=1731078373956') format('woff'),
       url('//at.alicdn.com/t/c/font_4736490_weqac76k7ae.ttf?t=1731078373956') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-github:before {
  content: "\e673";
}

.icon-bizhishezhi:before {
  content: "\e630";
}

.icon-ditie:before {
  content: "\e65f";
}

.icon-pencil-01:before {
  content: "\e9e9";
}

.icon-sousuo:before {
  content: "\f258";
}

.icon-gengxin:before {
  content: "\e65a";
}

.icon-gangbi:before {
  content: "\e6f4";
}

.icon-fenlei:before {
  content: "\f24c";
}

.icon-fuwurizhi:before {
  content: "\e60e";
}

.icon-lianjie:before {
  content: "\e668";
}

.icon-guidang:before {
  content: "\eca6";
}

.icon-xiangce:before {
  content: "\ffc4";
}

.icon-biaoqian:before {
  content: "\e60a";
}

.icon-shoucang:before {
  content: "\e60c";
}

.icon-icon-shishi:before {
  content: "\e687";
}

.icon-python:before {
  content: "\e6f2";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-zhifeiji-copy:before {
  content: "\e615";
}

.icon-qunfariji:before {
  content: "\e666";
}

.icon-cpp:before {
  content: "\e61a";
}

.icon-csharp:before {
  content: "\e63a";
}

.icon-wenzhang:before {
  content: "\ecb3";
}
